.terraform
.vscode
.idea
.env.myenv
.terraform.*
terraform.tfstate
terraform.tfstate.backup
# Personal files
k8s.playbook/ansible.inventory.cfg
k8s.playbook/master_lb.haproxy.cfg
k8s.playbook/worker_lb.nginx.conf
*.pem
*.pub
ssh.sh
action.sh.lock
