#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node
  scrape_interval: 5s
  metrics_path: /metrics
  static_configs:
{% for server in groups[prometheus_node_exporter_group] %}
  - targets: ['{{ hostvars[server].private_ip }}:9100']
    labels:
      instance: '{{ server }}'
{% endfor %}
{% endif %}
